body {
    background-color: lightgoldenrodyellow;
    font-family: 'Shadows Into Light';
}
#flag1 {
    width: 40%;
    height: auto;
    margin-right: 12rem;
    margin-top: 40px;
    margin-left: -1rem;
}
#flag2 {
    width: 60%;
    height: auto;
    margin-left: 5rem;
    margin-top: 40px;
}
.intro ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}
.intro ul li img {
    width: 30%;
    height: auto;
    text-decoration: none
}
.intro ul li p {
    color: black;
    font-size: 2.5rem;
    text-align: center;
    margin-left: -9rem;
}
iframe {
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content {
    text-align: center;
}
.content a {
    text-decoration: none;
    display: inline-block;
    color: green;
    font-size: 24px;
    border: 2px solid green;
    padding: 14px 70px;
    border-radius: 30px;
    margin: 20px;
    transition: 0.5s;
}
.content a:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
}
